/* moviles pequeños */
@media (max-width: 320px){
    
   /* REDES */
   .redes .datos{
        align-items: center;
        h3{
            font-size: 15px;
        }
       
   }
    .prop_reseñas{
        margin: 0;
        width: 100%;
    }
    .prop_reseñas .titulo{
        text-align: center;
    }

    .carrusel_responsive{
        margin: 0;
        width: 100%;
    }

    .carrusel_responsive .reseña1{
        p{
            font-size: 15px;
            height: 100%;
        }
    } 
    .carrusel_responsive .p1{
        width: 100%;
        
        text-align: center;

    }

    /* PIE MAIN */
    .pie_main .titulo{
        font-size: 30px;
        p{
            font-size: 10px;
        }
    }
}
@media (max-width: 480px){
    /* BOTON */

    /* HEADER */
    header{
        margin:0;
        width: 100%;
        .logo{
            display: none;
        }
    }
    header div{
        margin:0;
        width: 93%;
        justify-content: center;
    }


    /* INICIO */

    .inicio{
        
        width: 100%;
        margin: 0;
    }

    .titulo {
        margin:0;
        width: 100%;
        text-align: center;
    }

    .boton_der{
        width: 100%;
        a{
            font-size: 20px;
        }
    }

    .boton{
        width: 100%;
        a{
            font-size: 20px;
        }
    }

    .redes{
        margin: 0;
        width: 100%;
        align-items: center;
    }

    .redes  a{
        display: block;
        text-decoration: none;
        color: white;
        width: 100%;
    }

    .redes p{
        display: none;
    }

    .datos{
        width: 100%;
        
    }
    .datos div{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .datos h3{
        text-align: center;
    }


    /* SOBRE MI */
    .sobre_mi{
        margin: 0;
        width: 100%;
    }
    .contenido{
        margin: 0; 
    }

    .contenido .titulo{
        text-align: center;
        align-items: center;
    }

    .titulo .boton{
        background:linear-gradient(to left,  var(--colorBoton), transparent 75%);
        background-size: 200% 100%;
        background-position: 150% 50%;
    }

    .titulo .boton:hover{
        background-position: 100% 200%;
        cursor: pointer;
    }

    /* MI TRABAJO */
    .trabajos{
        width: 100%;
        align-items: center;
        margin: 0;
    }

    .trabajos .titulo{
        width: 100%;
        height: 500px;
    }

    .trabajos .trabajos_responsive{
        align-content: flex-end;
        margin-top: 30%;
        display: block;
        width: 290px;
        height: 600px;
        background: url(../img/diseño1.jpg) no-repeat center center/cover;
        transition: .5s;
    }
    .trabajos_responsive p,h3{
        margin-left: 5px;
        font-size: 12px;
        letter-spacing: 1px;
        text-align: start;
    }

    .trabajos_responsive .logo{
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
    }
    .flecha_responsive{
        display: block;
        margin-top: 20px;
        background-color: rgb(167,115,74);
        padding: 0px 30px;
    }
    .presentacion{
        display: none;
    }


    /* CARRUSEL */
    .prop_reseñas .titulo{
        padding-top: 10%;
    }

    .prop_reseñas{
        width: 100%;
        margin: 0;
    }


    .personas{
        display: none;
    }
    .carrusel_responsive{   
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }
    

    .carrusel_responsive .reseña1{
        border-radius: 10px;
        background-color: rgb(58,58,58);
        text-align: center;
        align-items: center;
        width: 100%;
        height: 300px;
        margin-bottom: 10%;
    }

    .carrusel_responsive .reseña1 p{

    }
    .carrusel_responsive .flecha_responsive{
        margin-bottom: 30%;
    }

    /* MIS SERVICIOS */
    .servicios{
        margin: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .servicios .titulo{
        width: 100%;
        justify-content: space-evenly;
        text-align: center;
        .logo{
            display: none;
        }
    }

    .sv1, .sv2, .sv3{
        width: 100%;
        font-size: 15px;   
        p{
            display: none;
        }
        .subtitulos{
            width: 100%;
            text-align: center;
            align-items: center;
        }
    }

    /* PIE MAIN */
    .pie_main{
        width: 100%;
    }

    .pie_main div{
        width: 100%;
        margin: 0;
    }
    /* FOOTER */
    .barra_responsive{
        display: block;
        margin-top: 30px;
        background-color: white;
        height: 5px;
        width: 30%;
        
    }

    .contenido_footer{
       margin: 0;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
    }

    .contenido_footer .descripcion{
        width: 100%;
        text-align: center;
    }

    .contenido_footer .barra{
        display: none;
    }

    .contenido_footer .contacto{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        p{font-size: 10px ;
            padding: 0;
            margin-top: 10px;
        }

        a{
            width: 40px;
            height: 40px;
        }
    }


    


}

/* tablets y modo retrato */
@media (max-width: 768px){
    /* SOBRE MI */

    /* MIS TRABAJOS */
    .trabajos .titulo{
        padding: 0px;
        img{
            display: none;
        }
        align-items: center;
        justify-content: center;
    }

    .presentacion{
        width: 100%;
    }

    .presentacion .columna1{
        width: 45%;
        .img1, .img2, .img3{
            width: 100%;
            height: 32%;
        }
    }

    .presentacion .columna2{
        width: 45%;
        .img4, .img5, .img6{
            width: 100%;
            height: 32%;
        }
    }

    /* CARRUSEL */
    .prop_reseñas{
        height: 1000px;
    }
    .prop_reseñas .titulo{
        padding-top: 10%;
        height: 200px;
    }

    .prop_reseñas{
        width: 100%;
        margin: 0;
    }


    .reseñas .personas{
        display: none;
    }

    .carrusel_responsive{  
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        height: 100%;
    }
    

    .carrusel_responsive .reseña1{
        border-radius: 10px;
        background-color: rgb(58,58,58);
        width: 90%;
        height: 50%;
        margin-bottom: 10%;
        text-align: center;
    }

    .carrusel_responsive .p1{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .carrusel_responsive .flecha_responsive{
        margin-top: 10%;
        padding: 0px 30px;
        background-color: rgb(167,115,74);
        display: block;
    }
    /* MIS SERVICIOS */

    .sv1, .sv2, .sv3{
        align-items: center;
    }


    /* Footer */
    .pie_main{
        width: 100%;
    }

    .pie_main div{
        width: 100%;
        margin: 0;
    }
    /* FOOTER */
    .barra_responsive{
        display: block;
        margin-top: 30px;
        background-color: white;
        height: 5px;
        width: 30%;
        
    }

    .contenido_footer{
       margin: 0;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
    }

    .contenido_footer .descripcion{
        width: 60%;
        text-align: center;
    }

    .contenido_footer .barra{
        display: none;
    }

    .contenido_footer .contacto{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        p{font-size: 15px ;
            padding: 0;
            margin-top: 10px;
        }

        a{
            width: 70px;
            height: 70px;
        }
        div{
            padding-top: 20px;
            padding-left: 20px;
            display: flex;
            align-items: center;
            img{
                display: block;
                width: 30%;
                height: 30%;
            }
        }
    }

}

/* tablets, modo retrato y moviles mas grandes */
@media (max-width: 1024px){
   

    header{
        width: 100vw;
    }
    .inicio .perfil{
           display: none;
    }
    .redes{
        img{display: none;
        }
    }

    .redes .datos{
        flex-direction: column;
        align-content: space-evenly;
        a,p{
            font-size: 10px;
            padding-bottom:30px;
        }
        h3{
            width: 30%;
        }
    }

    .personas .r3{
        display: none;
    }
    .p3{
        height: 600px;
    }

    
    .contenido{
        img{
            display: none;
        }
    }

    .trabajos .titulo{
        padding: 0px;
        img{
            display: none;
        }
        align-items: center;
        justify-content: center;
    }

    .presentacion{
        width: 100%;
    }

    .presentacion .columna1{
        width: 45%;
        .img1, .img2, .img3{
            width: 100%;
            height: 32%;
        }
    }

    .presentacion .columna2{
        width: 45%;
        .img4, .img5, .img6{
            width: 100%;
            height: 32%;
        }
    }
    .sv1, .sv2, .sv3{
        flex-direction: column;
        img{display: none;}
    }   

    .contenido_footer{
        img{
            display:none;
        }
        p{
            padding-top: 50px;
        }
    }
}

/* modo paisaje */
@media (max-width: 1280px){
    /* NAVEGADOR */
    *{
        margin: 0px;
    }
    nav{
        .navs{
            display: none;
        }
        img{
            display: block;
        }
    }
    .redes h3{
            width: 30%;
        
    }

    .redes .logo{
       display: none;

    }
    /* SOBRE MI */
    .sobre_mi .titulo p{
        font-size: 18px;
    }
    /* MI TRABAJO */

    .trabajos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .trabajos .titulo{
        height: 30%;
    }
    .trabajos .presentacion{
        margin-top: 10%;
        width: 80%;
    }
    .columna1{
        align-items: center;
    }
    .columna2{
        align-items: center;
    }
    .img1:hover{
        width: 295px;
        height: 620px;
    }

    .img2:hover{
        width: 295px;
        height: 370px;

    }

    .img3:hover{
        width: 295px;
        height: 220px;

    }

    .img4:hover{
        width: 295px;
        height: 400px;

    }

    .img5:hover{
        width: 295px;
        height: 520px;

    }

    .img6:hover{
        width: 295px;
        height: 320px;

    }

    /* carrusel */
    .r1,.r2,.r3{
        width: 30%;
    }
    .r1 .reseña1, .r2 .reseña2,.r3 .reseña3{
        width: 90%;
        p{
            font-size: 18px;
        }
    }
    /* MIS SERVICIOS */

    .sv1,.sv2, .sv3{
        p{
            font-size: 18px;
            width: 100%;
        }
        h1{
            font-size: 30px;
        }
    }

    /* PIE DEL MAIN*/
    .pie_main{
        p{
            font-size: 25px ;
        }

        h1{
            font-size: 45px ;
        }
    }
    
    /* FOOTER */
    .contacto h1{
        padding-top: 36%;
        font-size: 30px;
    }
    .contacto p{
        font-size: 15px;
        padding-bottom: 10px;
        padding-left: 8px;
    }
}


/* computadoras o tablets */
@media (max-width: 1440px){
    *{
        margin: 0px;
    }
    body,html{
        width: 100vw;
    }

    header{
        width: 100vw;
        top:0;
    }
    .perfil{
        width: 350px;
        height: 500px;
    }
    .inicio{
        justify-content: space-between;
    }
    .titulo{
        width: 100vw;
        p{
            width: 100%;
            font-size: 15px;
        }
        h1,h2{
            font-size: 30px
        }
    }

    /* SOBRE MI */
    .contenido .titulo{
        p{
            width: 80%;
        }
    }
    /* MI TRABAJO */
    .presentacion{
        width: 100%;
    }
    .columna1{
        width: 50%;
        
    }
    .columna2{
        width: 50%;
        
    }


    /* CARRUSEL DE RESEÑAS */
    .reseñas{
        display: flex;
        justify-content: center;
        padding: 0px;
        margin: 0;
    }
    .prop_reseñas{
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 80%;
    }

    .prop_reseñas .titulo {
        justify-content: center;
        align-items: center;
        width: 50%;
        img{display: none;
        }
    }

    .r1,.r2,.r3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 30%;
        margin: 0;
    }
    .personas{
        width: 100%;
        display: flex;
    }

    .reseña1{
            width: 80%;
            height: 80%;
    }

    .reseña1:active{
            width: 90%;
            height: 90%;
    }


    .pr1{
            margin: 50%;
    }
        

    .reseña2{
        width:80%;
        height: 80%;
    }

    .reseña2:active{
            width: 90%;
            height: 90%;
    }

   
    .reseña3{
            width: 80%;
            height: 80%;
    }

    .reseña3:active{
            width: 90%;
            height: 90%;
    }
 

    .servicios .titulo{
       width: 100%;
       padding-bottom: 100px;
    }

    .servicios .titulo{
       width: 100%;
       padding-bottom: 100px;
    }

    .p1,.p2,.p3{
        padding-bottom: 30%;
    }
}

@media (max-width: 1920){
    
}