/* Propiedades universales */
*{
    margin: 0;
    padding: 0;  
}

/* ---------- Fuentes que se van a utilizar ------------------ */
@font-face {
    font-family: 'Acumin Pro';
    src: url(/fonts/Acumin-RPro.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url(/fonts/Acumin-RPro.otf);
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Helvetica neue';
    src: url(/fonts/HelveticaNeueMedium.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica neue';
    src: url(/fonts/HelveticaNeueUltraLight.otf);
    font-weight: lighter;
    font-style: lighter;
}

/* --------------- Cuerpo de la pagina --------------- */

body{
    color: white;
    background-color: rgb(33,33,33);
    font-family: 'Acumin Pro', 'Helvetica neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

/* ------------------------- Estructura del header ------------------------------ */
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 140px;
}

nav{
    display: flex;
}

.navs{
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
}

.logo{
    width: 50px;
    height: 50px;
}


/*---------------------------- Primer section del main ---------------------*/

.inicio{
     display: flex; 
     padding: 180px 0px;
     margin: 0 140px;
     
}

.perfil{
    width: 400px;
    height: 550px;
}



.titulo{
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo h1{
    font-family: 'Acumin Pro', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: bold;
    font-size: 60px;
    padding: 30px 0px 55px 0px;
}

.titulo h2{
    font-family: 'Helvetica neue', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: lighter;
    font-size: 60px;
    padding: 110px 0px 0px 0px;
    
}

.titulo p{
    font-size: 20px;
    width: 910px;
    padding: 0px 0px 50px 0px;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 90px;
    width: 410px;
    background:linear-gradient(to right,  rgb(167,115,74), transparent 100%);
    transition: background-position 1s ease;
    background-size: 300% 200%;
    background-position: 100% 0;
}

.boton:hover{
    background-position: 0 100%;
}

.boton a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.boton img{
    width: 100px;
}


/* ------------------------Pie de inicio------------------------ */
.redes{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 45px 0 110px 0;
    margin: 0 140px;
}

.datos{
    display: flex;
}


.datos div{
    width: 450px;
}


.barra{
    display: flex;
}

.barra p{
    padding: 0 30px 0 30px;
}

.barra a{
    color: white;
    text-decoration: none;
}

.redes h3{
    padding:0 0 30px 0;
}



.redes img{
    width: 100px;
    padding: 0;
    border: solid black 2px;
}

/* ----------------------------- Segunda seccion (sobre mi) ---------------------- */

.sobre_mi{
    background-color: rgb(37,37,37);
}

.contenido{
    background-color: rgb(37,37,37);
    display: flex; 
    justify-content: space-between;
    padding: 180px 0px;
    margin: 0px 140px 
}

.contenido .titulo{
    align-items: end;
    text-align: end;
}


/* ------------------------- Tercer section (trabajo) ------------------------ */