/* Propiedades universales */
*{
    margin: 0;
    padding: 0;  
}

/* ---------- Fuentes que se van a utilizar ------------------ */
@font-face {
    font-family: 'Acumin Pro';
    src: url(/fonts/Acumin-RPro.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url(/fonts/Acumin-RPro.otf);
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Helvetica neue';
    src: url(/fonts/HelveticaNeueMedium.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica neue';
    src: url(/fonts/HelveticaNeueUltraLight.otf);
    font-weight: lighter;
    font-style: lighter;
}


.logo{
    width: 100px;

}
/* --------------- Cuerpo de la pagina --------------- */

body{
    color: white;
    background-color: rgb(33,33,33);
    font-family: 'Acumin Pro', 'Helvetica neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

/* ------------------------- Estructura del header ------------------------------ */
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 140px;
}

nav{
    display: flex;
}

.navs{
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
}

.logo{
    width: 50px;
    height: 50px;
}


/*---------------------------- Primer section del main ---------------------*/

.inicio{
     display: flex; 
     padding: 180px 0px;
     margin: 0 140px;
     
}

.perfil{
    width: 400px;
    height: 550px;
}



.titulo{
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo h1{
    font-family: 'Acumin Pro', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: bold;
    font-size: 60px;
    padding: 30px 0px 55px 0px;
}

.titulo h2{
    font-family: 'Helvetica neue', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: lighter;
    font-size: 60px;
    padding: 110px 0px 0px 0px;
    
}

.titulo p{
    font-size: 20px;
    width: 910px;
    padding: 0px 0px 50px 0px;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 90px;
    width: 410px;
    background:linear-gradient(to right,  rgb(167,115,74), transparent 100%);
    transition: background-position 1s ease;
    background-size: 300% 200%;
    background-position: 100% 0;
}

.boton:hover{
    background-position: 0 100%;
}

.boton a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.boton img{
    width: 100px;
}


/* ------------------------Pie de inicio------------------------ */
.redes{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 45px 0 110px 0;
    margin: 0 140px;
}

.datos{
    display: flex;
}


.datos div{
    width: 450px;
}


.barra{
    display: flex;
}

.barra p{
    padding: 0 30px 0 30px;
}

.barra a{
    color: white;
    text-decoration: none;
}

.redes h3{
    padding:0 0 30px 0;
}



.redes img{
    width: 100px;
    padding: 0;
    border: solid black 2px;
}

/* ----------------------------- Segunda seccion (sobre mi) ---------------------- */

.sobre_mi{
    background-color: rgb(37,37,37);
}

.contenido{
    background-color: rgb(37,37,37);
    display: flex; 
    justify-content: space-between;
    padding: 180px 0px;
    margin: 0px 140px 
}

.contenido .titulo{
    align-items: end;
    text-align: end;
}


/* ------------------------- Tercer section (trabajo) ------------------------ */


.trabajos{ 
    display: flex;
    justify-content: space-between;
    margin: 0px 140px ;
    padding: 250px 0 400px 0;
}
.trabajos .titulo{
    /* border: solid white 3px; */
    width: 700px;
    height: 600px;
}




.presentacion{ /* Esta etiqueta contiene dos columnas donde iran ubicadas las imagenes */
    /* border: solid rgb(255, 255, 255) 2px; */
    width: 650px;
    height: 1250px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
    



/* Primer tanda de imagenes */
.columna1{ 
    /* border: solid black 2px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 290px;
    align-items: center;  
}


.columna1 div{
    /* border: solid white 3px; */
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 12px;
}



.columna1 .img1{
    width: 290px;
    height: 600px;
    background-image: url(../img/imgperfil.png);
}



.columna1 .img2{
    width: 290px;
    height: 350px;
    background-image: url(../img/imgperfil.png);
    
}



.columna1 .img3{
    width: 290px;
    height: 200px;
    background-image: url(../img/imgperfil.png);
    
}





/* Segunda tanda de imagenes */
.columna2{
    /* border: solid black 2px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 290px;
    height: 1250px;
    align-items: center;
}

.columna2 div{
    /* border: solid white 3px; */
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 12px;
}


.columna2 .img4{
    width: 290px;
    height: 400px;
    background-image: url(../img/imgperfil.png);
    
}


.columna2 .img5{
    width: 290px;
    height: 500px;
    background-image: url(../img/imgperfil.png);
    
}


.columna2 .img6{
    width: 290px;
    height: 300px;
    background-image: url(../img/imgperfil.png);
}



/* ------------------ Cuarto Section (Reseñas) ---------------------------------- */

.pr{
    height: 80px;
    width: 80px;
}

.reseñas{
    padding: 300px 0px;
    background-color: rgb(12,12,12);
}
.prop_reseñas{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(12,12,12);
    margin: 0 140px;
}
.prop_reseñas .titulo{
    border: solid white 3px;
    width: 450px;
    height: 400px;
    align-items: end;
}

.personas{
    border: solid black 3px;
    display: flex;
    
}


.personas div{
    border: solid blue 3px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   
}

.personas .reseña1{
    border: solid red 3px;
    background-color: rgb(58,58,58);
    text-align: center;
    align-items: center;
    width: 350px;
    height: 300px;
}

.personas .p1{
    border: solid red 3px;
    width: 200px;
}


.personas .reseña2{
    border: solid red 3px;
    background-color: rgb(24,24,24);
    text-align: center;
    align-items: center;
    width: 350px;
    height: 400px;
}

.personas .p2{
    border: solid red 3px;
    width: 200px;
}



.personas .reseña3{
    border: solid red 3px;
    background-color:rgb(58,58,58);
    text-align: center;
    align-items: center;
    width: 350px;
    height: 300px;
}

.personas .p3{
    border: solid red 3px;
    width: 200px;
}