/* Propiedades universales */
*{
    margin: 0;
    padding: 0;  
}

/* ---------- Fuentes que se van a utilizar ------------------ */
@font-face {
    font-family: "Helvetica neue";
    src: url(../fonts/HelveticaNeueUltraLight.ttf);
}
@font-face {
    font-family: 'Acumin pro';
    src: url(../fonts/Acumin-RPro.ttf);
}

/* ---------------------------------- EFECTOS GENERALES ------------------------------ */

:root{
    --margen: 0px 208px;
    --backgroundGral: rgb(33,33,33);
    --backgroundClaro: rgb(37,37,37);
    --backgroundOscuro: rgb(12,12,12);

    --tamañoLetraBoton: 25px ;
    --colorBoton: rgb(167,115,74) ;

    --tamañoTitulo: 60px;
    --tamañoSubtitulo: 33px;
    --descripcion: 20px;
    --espacioLetra: 2px;
}

.logo{
    width: 50px;
    height: 50px;
    filter: grayscale(300%) brightness(600%);
}


/* Diferenciacion de letras por etiqueta */
p,a{
    font-family: 'Helvetica neue',Arial, Helvetica, sans-serif;
    letter-spacing: var(--espacioLetra);
    font-weight: 590;
    font-size: var(--descripcion);
}

h1{
    font-family: 'Acumin Pro',Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: var(--tamañoTitulo);
}

h2{
    font-family: 'Helvetica neue',Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
}


.contacto span{
    font-family: 'Acumin pro',Arial, Helvetica, sans-serif;
    font-weight: bold;
}




/* Efectos botones */
.red{
    transition: 0.2s;
}
.red:hover{
    font-weight: bold;
    text-decoration: underline;
}

.boton_der{ 
    /* boton con efecto hacia derecha */
    font-family: "Helvetica neue",  Arial, Helvetica, sans-serif;
    letter-spacing:4px;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 90px;
    width: 410px;
    
    /* efecto */
    background:linear-gradient(to left,  var(--colorBoton), transparent 75%);
    transition: background-position 1s ease;
    background-size: 200% 100%;
    background-position: 150% 50%;
}

.boton_der:hover{
    background-position: 100% 200%;
    cursor: pointer;
}

.boton_der a{
    text-decoration: none;
    color: white;
    font-size: var(--tamañoLetraBoton);
}

.boton_der img{
    width: 100px;
}




.boton{
    /* boton con efecto hacia izquierda */
    font-family: "Helvetica neue",  Arial, Helvetica, sans-serif;
    letter-spacing:4px;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 90px;
    width: 410px;
    
    /* efecto */
    background:linear-gradient(to right, var(--colorBoton), transparent 75%);
    transition: background-position 1s ease;
    background-size: 200% 100%;
    background-position: 150% 100%;
}

.boton:hover{
    background-position: 200% 100%;
    cursor: pointer;
}

.boton a{
    text-decoration: none;
    color: white;
    font-size: var(--tamañoLetraBoton);
}

.boton img{
    width: 100px;
}











/* --------------- Cuerpo de la pagina --------------- */

body{
    color: white;
    background: var(--backgroundGral);
    letter-spacing: var(--espacioLetra);
}

/* ------------------------- Estructura del header ------------------------------ */
header{
    padding-top: 10px;
    background: var(--backgroundGral);
    position: fixed;
    width: 100%;
    z-index: 10000;
}

header div{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: var(--margen);
}

header p{
    font-size: 25px;
}

nav{
    display: flex;
    height: 30px;
}

nav img{
    display: none;
}
.navs{
    color: white;
    text-decoration: none;
    padding: 15px;
    position: relative; 
}


.navs::after {
    content: ''; 
    position: absolute;
    width: 10px; 
    height: 10px; 
    background: transparent; 
    border-radius: 50%; 
    bottom: -30px; 
    left: 50%; 
    transform: translateX(-50%); 
    transition: width 0.2s, height 0.2s, background-color 0.2s; 
}

.navs:hover::after{
    width: 10px; 
    height: 10px; 
    background: white; 
    border: 1px solid white; 
}

.navs p:hover{
    font-weight: bolder;
}



/* ---------- Primer section del main ---------------------*/ 

.inicio{
     display: flex; 
     padding: 190px 0px 155px 0px;
     margin: var(--margen);
     
}

.perfil{
    width: 400px;
    height: 550px;
}



.titulo{
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.titulo h2{
    font-size: 55px;
}

.titulo p{
    width: 910px;
    padding-bottom: 50px;
}

.redes h3{
    font-size: 23px;
    font-weight: lighter;
    font-family: 'Acumin pro',Arial, Helvetica, sans-serif;
}





/* ------------------------Pie de inicio------------------------ */
.redes{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-bottom: 110px;
    margin: var(--margen);
}

.redes h3{
    margin: 0px 0px 0px -3px;
    padding:0 0 30px 0;
}


.datos{
    display: flex;
}


.datos div{
    width: 450px;
}


.barra{
    display: flex;
}

.barra p{
    padding: 0 30px 0 30px;
}

.barra a{
    color: white;
    text-decoration: none;
}







/* ----------------------------- Segunda seccion (sobre mi) ---------------------- */

.sobre_mi{
    background: var(--backgroundClaro);
}

.contenido{
    background: var(--backgroundClaro);
    display: flex; 
    justify-content: space-between;
    padding: 180px 0px;
    margin: var(--margen);
}

.contenido .titulo{
    align-items: end;
    text-align: end;
}






/* ------------------------- Tercer section (trabajo) ------------------------ */


.trabajos{ 
    display: flex;
    justify-content: space-between;
    margin: 0px 208px ;
    padding: 200px 0;
}
.trabajos .titulo{
    width: 700px;
    height: 600px;
}




.presentacion{ /* Esta etiqueta contiene dos columnas donde iran ubicadas las imagenes */
    width: 650px;
    height: 1250px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
    


/* Efectos generales */
.columna1{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 290px;
}

.columna2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.presentacion .img1,.img2,.img3,.img4,.img5,.img6{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 12px;
}

.img1 div,.img2 div,.img3 div, .img4 div, .img5 div, .img6 div{
    display: flex;
    margin-top: 10px;
}



.presentacion p,h3{
    margin-left: 5px;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: start;
}

.presentacion h3{
    margin-top: 3px;
}

.presentacion .logo{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}


.columna1 .img1{
    width: 290px;
    height: 600px;
    background: url(../img/diseño1.jpg) no-repeat center center/cover;
    transition: .5s;
}


.img1:hover{
    width: 310px;
    height: 620px;
}


.columna1 .img2{
    width: 290px;
    height: 350px;
    background: url(../img/diseño2.jpg) no-repeat center center/cover;
    transition: .5s;
}

.img2:hover{
    width: 310px;
    height: 370px;
}

.columna1 .img3{
    width: 290px;
    height: 200px;
    background: url(../img/diseño3.png) no-repeat center center/cover;
    transition: .5s;
}

.img3:hover{
    width: 310px;
    height: 220px;
}



/* Segunda tanda de imagenes */

.columna2 .img4{
    width: 290px;
    height: 400px;
    background: url(../img/diseño4.jpg) no-repeat center center/cover;
    transition: .5s;
}

.img4:hover{
    width: 310px;
    height: 400px;
}



.columna2 .img5{
    width: 290px;
    height: 500px;
    background: url(../img/diseño5.jpg) no-repeat center center/cover;
    transition: .5s;
}

.img5:hover{
    width: 310px;
    height: 520px;
}



.columna2 .img6{
    width: 290px;
    height: 300px;
    background: url(../img/diseño6.png) no-repeat center center/cover;
    transition: .5s;
}

.img6:hover{
    width: 310px;
    height: 320px;
}






/* ---------------------------------------- Cuarto Section (Reseñas) ---------------------------------- */

.pr{ /* propiedades de las imagenes de las personas */
    height: 75px;
    width: 75px;
    border-radius: 50px;
    filter: grayscale(100%) brightness(110%);
}

.p2 .pr{
        filter: grayscale(100%) brightness(150%);
}

.reseñas{ /* esta caja contiene todas las reseñas para poder darle un fondo y que no afecte al margen */
    padding: 250px 0px 100px 0px;
    background-color: var(--backgroundOscuro);
}


.prop_reseñas{ /* esta caja la utilizo para darle propiedades y acomodar los datos de las reseñas en forma de ila */
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--backgroundOscuro);
    margin: var(--margen);
}
.prop_reseñas .titulo{
    width: 450px;
    height: 400px;
    align-items: end;
    text-align: end;
}





/* este div contiene las reseñas de las personas junto con su nombre  */
.personas{ 
    display: flex;
    height: 900px;
    margin:var(--margen);
}


.personas div{
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}




/* Cajas de las reseñas de las personas, junto con los datos de las mismas */
.personas .reseña1{
    border-radius: 10px;
    background-color: rgb(58,58,58);
    text-align: center;
    align-items: center;
    width: 350px;
    height: 300px;
}

.personas .p1{
    width: 200px;
    p{
        width: 100%;
        text-align: center;
    }
    
}



.personas .reseña2{
    border-radius: 10px;
    background-color:rgb(58,58,58);
    text-align: center;
    align-items: center;
    width: 350px;
    height: 300px;   
}

.personas .p2{
    width: 200px;
    padding-bottom: 20px;
    p{
        width: 300px;
        text-align: center;  
    }
}



.personas .reseña3{
    border-radius: 10px;
    background-color:rgb(58,58,58);
    text-align: center;
    align-items: center;
    width: 350px;
    height: 300px;   
}

.personas .p3{
    width: 200px;
    padding-bottom: 20px;
}


/* Puntos para simular el carrousel */

.pr1{
    margin-bottom: 200px;
    margin-top: 100px;
    width: 20px;
    height: 20px;
    filter: grayscale(100%) brightness(30%);
    
}


.r1:active{
    .pr1{filter: grayscale(100%) brightness(200%) contrast(200%);
    width: 23px;
    height: 23px;}
    .reseña1{
        border-radius: 10px;
        background-color: rgb(24,24,24);
        width: 350px;
        height: 400px;
    }
}

.r2:active{
    .pr1{filter: grayscale(100%) brightness(200%) contrast(200%);
    width: 23px;
    height: 23px;}
    .reseña2{
        border-radius: 10px;
        background-color: rgb(24,24,24);
        text-align: center;
        align-items: center;
        width: 350px;
        height: 400px;
    }
}

.r3:active{
    .pr1{filter: grayscale(100%) brightness(200%) contrast(200%);
    width: 23px;
    height: 23px;}
    .reseña3{
        border-radius: 10px;
        background-color: rgb(24,24,24);
        text-align: center;
        align-items: center;
        width: 350px;
        height: 400px;
    }
}

/* ---------------------------- Sexta seccion (mis servicios) --------------------------  */
.servicios{
    margin: var(--margen);
    padding-top: 150px;
}

.servicios .titulo{
    padding-bottom: 50px;
    
}

.servicios .titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.servicios .titulo p{
    font-size: var(--descripcion) ;
    padding-bottom: 8px;
}

.servicios section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;

}

.servicios .perfil{
    width: 500px;
    height: 450px;
    background-color: black;
    border-radius:15px;
}


/* acomodo el contenido que acompaña a las fotos */
.subtitulos{
    flex-direction: column;
    justify-content: center;
    width: 500px; 
    display: flex;
}

.sv2 .subtitulos {
    align-items: end;
    text-align: end;
}

.servicios .boton_der, .boton{
    margin-top: 45px;
}

.subtitulos h1{
    font-style: bold;
    font-size: var(--tamañoSubtitulo);
}






/* ----------------------------Septima seccion---------------------------------- */

.pie_main{
    background: url(../img/pie_main.png) no-repeat center center/cover;
    padding: 50px 0px;
}

.pie_main div{
    margin: var(--margen);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.pie_main p{
    font-size: 30px;
    padding: 30px 0px;
}

.pie_main h1{
    font-size: 55px;
}

.pie_main .logo{
    padding-bottom: 20px;
}





/* ----------------------- PIE DE PAGINA ---------------------------------- */
footer{
    background-color: var(--backgroundOscuro);
    border-top: solid rgb(0, 0, 0, 50%) 5px;
    padding-bottom: 50px;
}

.contenido_footer{
    margin: var(--margen);
    margin-top: 110px;
    margin-bottom: 110px;
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroundOscuro);
}

.descripcion{
    width: 800px;
}


.descripcion p{
    font-family: 'Acumin pro', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: var(--descripcion);
}
.descripcion img{
    padding: 30px 0;
}



.contacto{
    text-align: end;
}


.contacto h1{
    font-size: 50px;
    font-weight: lighter;
}

.contacto p{
    font-size: var(--descripcion);
    font-weight: bold;
}

.contacto img{
    padding: 0px 10px;
}

.contacto .logo{
    width: 30px;
}


footer .barra{
    font-size: 210px;
    font-family: 'Helvetica neue',Arial, Helvetica, sans-serif;
    font-weight: lighter;
}